<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIColorExtention.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4CC41E11BE8DB96005D4AB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4CC41FA1BE8DB96005D4AB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4CC42051BE8DB96005D4AB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
